
<h1 class="title">商品列表</h1>
<%= link_to "新增商品", new_admin_product_path, class: 'button' %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th></th>
      <th>商品名稱</th>
      <th>廠商</th>
      <th>定價/售價</th>
      <th>銷售狀態</th>  
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.cover_image.attached? %>  
            <%= image_tag product.cover_image.variant(resize_to_fill: [50, 50]) %>
          <% else %>
            <%= image_tag 'https://fakeimg.pl/50x50/?text=No_Cover' %>
          <% end %>  
        </td>
        <td><%= link_to "#{product.name}[商品編號:#{product.code}]", edit_admin_product_path(product) %></td>
        <td><%= product.vendor.title %></td>
        <td><%= product.list_price %> / <%= product.sell_price %></td>
        <td><%= product.on_sell %></td>
        <td>
          <%= link_to "編輯", edit_admin_product_path(product), class: 'button is-light is-small' %>
          <%= link_to "刪除", admin_product_path(product), method: 'delete', class: 'button is-danger is-small' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>